In [130]:
import pandas as pd
import numpy as np

In [131]:
df=pd.read_csv("hepatitisFinalCeil.csv")

In [132]:
features=df.columns
features

Index(['Age', 'Sex', 'Steriod', 'Antivirus', 'Fatigue', 'Malaise', 'Anorexia',
       'Liver big', 'Liver firm', 'Spleen palpable', 'Spiders', 'Ascites',
       'Varices', 'Bilirubin', 'Alk phosphate', 'Sgot', 'Albumin', 'Histology',
       'Class'],
      dtype='object')

In [133]:
#Fatigue,Liverbig,Spleenpalpable,Ascites,Varices,Bilirubin,Alkphosphate,Histology
#newdf=df.drop(['Age','Sex','Steriod','Antivirus','Malaise','Anorexia','Liver firm','Spiders','Sgot','Albumin'],axis=1)
newdf=df.drop(['Age','Fatigue','Malaise','Bilirubin','Alk phosphate','Sgot'],axis=1)
newdf.head()

,Sex,Steriod,Antivirus,Anorexia,Liver big,Liver firm,Spleen palpable,Spiders,Ascites,Varices,Albumin,Histology,Class
0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,4.0,1.0,2.0
1,1.0,1.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,4.0,1.0,2.0
2,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,4.0,1.0,2.0
3,1.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,4.0,1.0,2.0
4,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,4.0,1.0,2.0

In [134]:
X=newdf.drop(['Class'],axis=1)

In [135]:
X
Y=newdf['Class']
Y

0      2.0
1      2.0
2      2.0
3      2.0
4      2.0
5      2.0
6      2.0
7      2.0
8      2.0
9      2.0
10     2.0
11     2.0
12     2.0
13     2.0
14     2.0
15     2.0
16     2.0
17     2.0
18     2.0
19     2.0
20     2.0
21     2.0
22     2.0
23     2.0
24     2.0
25     2.0
26     2.0
27     2.0
28     2.0
29     1.0
      ...
117    2.0
118    2.0
119    2.0
120    1.0
121    2.0
122    1.0
123    2.0
124    1.0
125    2.0
126    2.0
127    1.0
128    2.0
129    2.0
130    2.0
131    1.0
132    2.0
133    2.0
134    1.0
135    2.0
136    1.0
137    1.0
138    2.0
139    1.0
140    2.0
141    2.0
142    1.0
143    2.0
144    2.0
145    2.0
146    1.0
Name: Class, Length: 147, dtype: float64

In [136]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.20)

In [137]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [138]:
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(hidden_layer_sizes=(30, 15, 10), max_iter=1000)
mlp.fit(X_train, y_train.values.ravel())

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(30, 15, 10), learning_rate='constant',
       learning_rate_init=0.001, max_iter=1000, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [139]:
predictions = mlp.predict(X_test)

In [140]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,predictions))
print(classification_report(y_test,predictions))

[[ 3  2]
 [ 5 20]]
             precision    recall  f1-score   support

        1.0       0.38      0.60      0.46         5
        2.0       0.91      0.80      0.85        25

avg / total       0.82      0.77      0.79        30

In [141]:
from sklearn.metrics import accuracy_score

In [142]:
accuracy_score(y_test, predictions)*100

76.66666666666667