In [62]:
import pandas as pd
import numpy as np

In [63]:
dataset=pd.read_csv("sortedDataframe.csv")

In [91]:
dataset.head()
features=dataset.columns
classlist=dataset['Class'].tolist()
idlist=dataset['id'].tolist()
i=0
j=0
k=0
positivelist=np.zeros(85)
negativelist=np.zeros(85)
for item in classlist:
    if item==1:
       
        positivelist[j]=idlist[i]
        j+=1
    else:
        negativelist[k]=idlist[i]
        k+=1
    i+=1
        
        
        

    
    
positivelist=positivelist[positivelist>0]
negativelist=negativelist[negativelist>0]
      
positivelist
negativelist

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       14., 15., 16., 17., 18., 20., 21., 22., 23., 24., 25., 26., 27.,
       28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38., 39., 40.,
       41., 43., 44., 45., 46., 47., 48., 49., 50., 51., 53., 54., 56.,
       57., 60., 61., 63., 66., 67., 68., 69., 71., 73., 74., 76., 77.,
       79., 80., 82., 84.])

,Class,Age,Sex,Steriod,Antivirus,Fatigue,Malaise,Anorexia,Liver big,Liver firm,Spleen palpable,Spiders,Ascites,Varices,Bilirubin,Alk phosphate,Sgot,Albumin,Protime,Histology
0,2,34,1,2.0,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.9,95.0,28.0,4.0,75.0,1